RewriteEngine on
RewriteOptions inherit

#RewriteCond %{REQUEST_URI} !(\.\w+)$
#RewriteRule (.+)/(.+)/(.+)/(.+)?$ index.php?controlador=$1&metodo=$2&id=$3&id2=$4 [QSA,L,NS]
RewriteCond %{REQUEST_URI} !(\.\w+)$
RewriteRule (.+)/(.+)/(.+)/(.+)?$ index.php?aplicacion=$1&controlador=$2&metodo=$3&id=$4&id2=$5 [QSA,L,NS]
RewriteCond %{REQUEST_URI} !(\.\w+)$
RewriteRule (.+)/(.+)/(.+)?$ index.php?aplicacion=$1&controlador=$2&metodo=$3&id=$4 [QSA,L,NS]
RewriteCond %{REQUEST_URI} !(\.\w+)$
RewriteRule (.+)/(.+)?$ index.php?aplicacion=$1&controlador=$2&metodo=$3 [QSA,L,NS]
RewriteCond %{REQUEST_URI} !(\.\w+)$
RewriteRule (.+)/?$ index.php?aplicacion=$1&controlador=$2 [QSA,L,NS]